.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.image {
  width: clamp(320px, 50vw, 1200px);
  height: clamp(400px, 50vw, 700px);
  border-radius: 10px;
  object-fit: cover;
}

.right-arrow,
.left-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3%;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  filter: drop-shadow(0 2px 5px rgb(255 255 255 / 0.7));
  outline: none;
}

.left-arrow {
  left: 3%;
}

.slide {
  /* opacity: 0.5; */
  transform: scale(0.95);
  transition: 1s ease;
}

.slide.active {
  opacity: 1;
  transition: 1s ease;
  transform: scale(1.1);
}
